[user]
	name = Michael Leone
	email = mleone896@gmail.com
    signingkey = 4A29FDF31CF12D2F
[includeIf "gitdir:~/Documents/repos/work/"]
    path = .gitconfig-work

[color]
  ui = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
  lgr = log --oneline --decorate --tags --parents --graph
  br = branch
  co = checkout
  lgf = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  ci = commit
  fl = log -u
  dl = "!git ll -1"
  gr = grep -Ii
  la = "!git config -l | grep alias | cut -c 7-"
  ir = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  sl = stash list
  sa = stash apply
  ss = stash save
  wip = commit -m "{WIP}"
  create-pull-request = !sh -c 'stash pull-request $0 $@'


[core]
    editor = nvim
    excludesFile = ~/.gitignore
    pager = less -FX
    commentChar = "#"
[pull]
    rebase = false
[commit]
    template = /Users/mleone/.dotfiles/templates/commit.txt
    gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
