layout {
    tab name="neovim" {
        pane
        pane size="30%"
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zellij-bar.wasm"
        }
    }
}
